@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    margin: 0;
    min-height: 100vh;
    background-color: #1f1f1f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%238f57ea' fill-opacity='0.73'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color:white;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    text-align : center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container{
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: rgba(125, 73, 173, 0.8);
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.2);
}

.quote-text{
    font-size: 2.75rem;
    font-style: italic;
}

.long-quote{
    font-size: 2rem;
}

.fa-quote-left{
    font-size: 3rem;
}
.quote-author{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: 600;
}
.button-container{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button:hover {
    filter: brightness(110%);
}
button:active{
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(250, 250, 250, 0.4);
}

.social-media button{
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border:none;
    border-radius: 10px;
    color: white;
    background: rgba(41, 41, 41, 0.8);
    padding: 0.5rem 0.7rem;
    box-shadow: 0 0.2rem rgba(252, 252, 252, 0.4);
}
.quote-generator button{
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border:none;
    border-radius: 10px;
    color: white;
    background: rgba(41, 41, 41, 0.8);
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.2rem rgba(252, 252, 252, 0.4);
}
.twitter-button:hover{
    color: #38a1f3;

}
.fa-twitter{
    font-size: 1.5rem;
}
.facebook-button:hover{
    color: #4561ff;

}
.fa-facebook{
    font-size: 1.5rem;
}
.whatsapp-button:hover{
    color: #25D366;

}
.fa-whatsapp{
    font-size: 1.5rem;
}

.loader {
    color: rgba(249, 247, 252, 0.8);
    font-size: 100px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    transform: translateZ(0);
    animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
  }
  
  @keyframes mltShdSpin {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em,
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, 
      -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
      -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
       -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
       -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
       -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
       -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
      0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  
  @keyframes round {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
  

@media screen and (max-width: 1000px){
    .quote-container{
        margin: auto 10px;
    }
    .quote-text{
        font-size: 2.5rem;
        font-style: italic;
    }
    
}